@use 'variables';
@mixin button {
    border: none;
    outline: none;
    height: 45px;
    background: variables.$color-primary;
    border-radius: 5px;
    color: variables.$color-white;
    transition: .4s;

    &:hover {
        background-color: variables.$dark-blue;
        color: variables.$color-white;
    }
}