@use 'variables';
@use 'initial';
@use 'mixins';
.imagen{
    background-image: url(/assets/img/servicio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
}
.section2{
    border-radius: 24px 0px 0px 24px;
}
.form{
    width: 85%;
    box-sizing: border-box;
    margin: auto;
}
.form__input-field{
    display: flex;
    flex-direction: column;
    position:relative;
    padding: 0 10px 0 10px;
    
}
.form__label{
    position:absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.form__input{
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom: 40px;
    color: variables.$light-black-text;
    &:focus ~ .form__label{
        top: -10px;
        font-size: 13px;
    }
    &:valid ~ .form__label{
        top: -10px;
        font-size: 13px;
        color: variables.$color-primary;

    }
    &:focus, .form__input{
        border-bottom:1px solid variables.$color-primary ;
    }
}
.submit{
    @include mixins.button;

}
.signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}
span a{
    text-decoration: none;
    font-weight: 700;
    color: variables.$black-text;
    transition: .5s;
}
@media only screen and (max-width: 992px) {
    .section2{
        border-radius: 24px 24px 0px 0px;
    }
  }